models/__pycache__/transaction.cpython-312.pyc
models/__pycache__/product.cpython-312.pyc
services/__pycache__/sales.cpython-312.pyc
services/__pycache__/stock_management.cpython-312.pyc
models/__pycache__/product.cpython-312.pyc
services/__pycache__/reports.cpython-312.pyc
__pycache__/authentication.cpython-312.pyc
models/__pycache__/user.cpython-312.pyc
database/users.json
